{{#each Search}}
	<div class="col-sm-4">
    <h2 class="hbsTitle">{{ Title }}</h2>
    <h2 class="hbsYear">{{ Year }}</h2>
    <img src= http://img.omdbapi.com/?i={{ imdbID }}&apikey=8513e0a1 class='img-responsive'>
    <button class='addFilm' id="{{imdbID}}">Add Film</button>
  </div>
{{/each}}