<form>
  <div class="form-group">Email:<input type="text" id="lEmail" class="form-control" placeholder="">
  </div>

  <div class="form-group">Password:<input type="password" id="lPassword" class="form-control" placeholder="">
  </div>
</form>

<button type="submit" id="logIn" class="btn btn-default">Log In</button>

