
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#searchTab" aria-controls="searchTab" role="tab" data-toggle="tab">Search</a></li>
  <li role="presentation"><a href="#watchListTab" aria-controls="watchListTab" role="tab" data-toggle="tab">Watch List</a></li>
  <li role="presentation"><a href="#viewedTab" aria-controls="viewedTab" role="tab" data-toggle="tab">Viewed Films</a></li>
  <li role="presentation"><a href="#fiveStarsTab" aria-controls="fiveStarsTab" role="tab" data-toggle="tab">Rating</a></li>
  <li role="presentation" class="logOut"><a href="#logOutTab" aria-controls="logOutTab" role="tab" data-toggle="tab">EXIT!</a></li>
</ul>

  <!-- Tab panes -->

<div class="tab-content">

  <div role="tabpanel" class="tab-pane active" id="searchTab">

    <div>
      <form class="well form-search" id="search-by-title-form" onsubmit="return false;">
        <fieldset>
            <legend>Search By Title</legend>
        </fieldset>
        <div>
            <label class="control-label" for="t">Title:</label>
            <input type="text" id="t" name="t" class="input-small">
            &nbsp;&nbsp;
            <button id="search-by-title-button" type="button" class="btn-sm btn-primary">Search</button>
            <button id="search-by-title-reset" type="reset" class="btn-sm">Reset</button>
        </div>
      </form>
    </div>

    <div id="searchResults"></div>
  </div>

  <div role="tabpanel" class="tab-pane" id="watchListTab">Watch List
  </div>

  <div role="tabpanel" class="tab-pane" id="viewedTab">Viewed Tabs
  </div>

  <div role="tabpanel" class="tab-pane" id="fiveStarsTab">Rating
    <input type="range" id="ratingRange" min="0" max="10" step="1" list="ratings" value="0">
    <datalist id="ratings">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </datalist>
    <div class='ratingDiv' id="stars0"></div>
    <div class='ratingDiv' id="stars1"></div>
    <div class='ratingDiv' id="stars2"></div>
    <div class='ratingDiv' id="stars3"></div>
    <div class='ratingDiv' id="stars4"></div>
    <div class='ratingDiv' id="stars5"></div>
    <div class='ratingDiv' id="stars6"></div>
    <div class='ratingDiv' id="stars7"></div>
    <div class='ratingDiv' id="stars8"></div>
    <div class='ratingDiv' id="stars9"></div>
    <div class='ratingDiv' id="stars10"></div>
  </div>

  </div>
</div>


<div>

