
.show_image:hover {
  opacity: .5;
  position: relative
}

.show_image .delete {
    position: absolute;
    top: 2px;
    right: 3px;
    z-index: 100;
}

.show_image {
  max-width: 250px;
  max-height: 250px;
}

 /*<div class="show_image">
    <button><span class="delete">X</span></button>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/d0/99/aa/d099aa09c64a69c55a65e75aa2266ecd.jpg">
  </div>*/

/*
    <div class="show_image">
    <button type="button" class="close deleteButton" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/d0/99/aa/d099aa09c64a69c55a65e75aa2266ecd.jpg">
  </div>*/


